.banner{
  background-color: blue;
  height : 450px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(/landing/images/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

}

.banner-banner-container{
  width: 900px;
  margin: auto;
  margin-left: 40px;

}

.banner-banner-container h1{
  color: white;
}

.btn-treehouse{
  width: 100px;
  padding: 20px 30px;
  background-color: #1EDD88;
  border-radius: 40px;
  color: white;
}

.banner-banner-container p{
color: white;
opacity: 0.5;
border: 0;
margin-bottom: 40px;
}
